.index-banner {
	position: relative;
	background: #3b3b3b;
}
.index-banner-bg {
	height: 570px;
	overflow: hidden;
}
.index-banner-text {
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left: -388px;
}
.index-banner-text .text-logo {
	width: 776px;
	height: 117px;
	background: url(../img/text-logo.png) no-repeat;
}
.index-banner-text .text-info {
	margin-top: 17px;
	text-align: center;
	color: #fff;
}
.index-banner-text .text-info .line {
	display: inline-block;
	width: 40px;
	border-top: 1px solid #fff;
	vertical-align: middle;
	*margin-top: 20px;
}
.index-banner-text .text-info .txt {
	margin: 0 26px;
}
.index-menu {
	position: relative;
	border-top: 4px solid #f34949;
}
.index-menu .menu-tips {
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -78px;
	width: 156px;
	height: 75px;
	text-align: center;
	line-height: 65px;
	color: #fff;
	background: #f34949;
}
.index-menu .menu-tips:after{
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 78px solid transparent;
	border-right: 78px solid transparent;
	border-bottom: 10px solid #fff;
}
.index-menu .menu-list{
	margin-top: 150px;
	color: #555;
	overflow: hidden;
}
.index-menu .menu-list ul{
	width: 1160px;
}
.index-menu .menu-list .item{
	float: left;
	width: 520px;
	margin-right: 60px;
	margin-bottom: 56px;
}
.index-menu .item .title , .index-menu .item .line{
	float: left;
}
.index-menu .item .price{
	float: right;
}
.index-menu .item .title{
	color: #555;
	width: 230px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.index-menu .item .line{
	width: 192px;
	border-top: 1px solid #e3e1e1;
	margin-top: 10px;
}
.index-menu .menu-list .comment {
	margin-top: 4px;
	color: #b7b7b7;
	font-size: 12px;
}
.index-menu .menu-more-btn {
	margin: 0 auto;
	width: 114px;
	height: 32px;
	border: 1px solid #d7d5d5;
	padding-left: 16px;
	font-size: 14px;
	line-height: 32px;
	color: #b7b7b7;
}
.index-menu .menu-more-btn .icon {
	display: inline-block;
	width: 17px;
	height: 12px;
	margin-left: 10px;
	background: url(../img/menu-more-btn-icon.png) no-repeat;
	background-size: cover;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/menu-more-btn-icon.png', sizingMethod='scale');
}
.index-panel {
	margin-top: 200px;
}
.index-panel-header h3{
	float: left;
	margin-right: 48px;
	font-size: 20px;
	color: #3b3b3b;
	font-weight: normal;
}
.index-panel-header .line {
	float: left;
	margin-top: 10px;
	border-top: 1px solid #e5e3e3;
	width: 200px;
}
.index-panel-header .btn-group {
	font-size: 0;
	float: right;
}
.index-panel-header .btn {
	display: inline-block;
	margin-left: 11px;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: #dedede;
}
.index-panel-header .active {
	background: #9b9b9b;
}
.index-panel-body {
	margin-top: 80px;
}
.index-foot-list {
	overflow: hidden;
}
.index-foot-list ul {
	width: 1160px;
}
.index-foot-list .food-item {
	float: left;
	margin-right: 60px;
	width: 230px;
}
.index-foot-list .food-item .banner {
	margin-bottom: 30px;
	height: 202px;
}
.index-foot-list .food-item .name {
	margin-bottom: 10px;
	color: #555;
}
.index-foot-list .food-item .price {
	float: right;
}
.index-foot-list .food-item .star-bar {
	font-size: 0;
}
.index-foot-list .food-item .star {
	display: inline-block;
	width: 12px;
	height: 13px;
	margin-right: 5px;
	background: url(../img/star.jpg) no-repeat;
}
.index-foot-list .food-item .nostar {
	background-position: 0 -13.5px;
}
.index-pics {
	height: 380px;
	overflow: hidden;
}
.index-pics .pic-col {
	float: left;
}
.index-pics .pic-col-m {
	width: 353px;
}
.index-pics .pic-col-s {
	position: relative;
	width: 287px;
}
.index-pics .pic-col-l {
	width: 460px;
}
.index-pics .pic-row01 {
	position: absolute;
}
.index-pics .pic-row02 {
	margin-top: 174px;
}
